<!DOCTYPE html>
<script type="text/javascript"> function refresh() {
    window.location.reload(false);
} </script>
<script>
    var counter = 3;
    var intervalId = null;
    function action() {
        clearInterval(intervalId);
        document.getElementById("bip").innerHTML = "TERMINE!";
        window.location.reload();
    }
    function bip() {
        document.getElementById("bip").innerHTML = counter + " secondes restantes";
        counter--;
    }
    function start() {
        intervalId = setInterval(bip, 1000);
        setTimeout(action, counter * 1000);
    }
</script>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Interrogator</title>
</head>
<body>
<h1>Page de test d'interrogator</h1>

<h2> {{ nom }}</h2>

<p> Nombre d'élèves dans la classe : {{ nombre_eleves }} </p>
{#<p> Choix d'un nombre au hasard : {{ nombre_alea }} </p>#}

<div style="text-align:center;">
    <button onclick="start()">Lancer le décompte</button>
    <div id="bip" class="display"></div>
</div>
<p></p>
L'élève désigné par le tirage aléatoire est <h3 align="center"> {{ eleve_designe }} </h3>
<p align="center">Note actuelle :
<h3 align="center"> {{ note }}</h3></p>

<form action="{% url "Interrogateur_nouvelle_note" id_de_la_classe nombre_aleatoire %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Afficher"/>
</form>

<a href="{% url 'Interrogateur_bilan' %}">Afficher le bilan</a>

<a href="{% url 'Interrogateur_accueil' %}">Retourner à l'accueil</a>

{#<input type="button" value="Retour vers l'accueil" onclick="javascript:location.href={% url 'Interrogator_accueil' %}" />#}

</body>

</html>